@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

footer{
	height: 80px;
	background-color: rgba(28,44,56,1.00);
}

body{
	font-family: 'Arvo', serif;
}

.mr-100{
	margin-right: 100px;
}

.card-columns{
	column-count: 4;
}

.fb-color{
	color: rgba(103,127,181,1.00);
}

.twitter-color{
	color: rgba(29,161,242,1.00);
}

i{
	font-size: 40px;
}

h4{
	font-size: 20px;
}

#tornaSu {
  	display: none;
  	position: fixed;
  	bottom: 15px;
 	right: 30px;
  	z-index: 99;
  	border: none;
  	outline: none;
  	background-color: rgba(255,0,0,1.00);
  	color: rgba(255,255,255,1.00);
  	cursor: pointer;
 	padding: 15px;
  	border-radius: 10px;
  	font-size: 25px;
}

#tornaSu:hover {
  	background-color: rgba(85,85,85,1.00);
}

.cont-car{
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

.padtop-60{
	padding-top: 60px;
}

.text-70{
	font-size: 70px;
}

.color-intro{
	color: rgba(75,0,0,1.00);
}

.aboutMeImage{
	height: 100%;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.box{
	position: relative;
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-clip: content-box;
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: 100% 100%;
}

.macL{
	height: 30vh;
	position: absolute;
	background-repeat: no-repeat;
	background-clip: content-box;
	width: 350px;
	bottom: 20px;
	left: 20px;
	z-index: 1;
	background-size: 100% 100%;
}

.macR{
	height: 45vh;
	position: absolute;
	background-repeat: no-repeat;
	background-clip: content-box;
	width: 300px;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	background-size: 100% 100%;
}

.mt-200{
	margin-top: 200px;
}

@media (max-width: 576px){
	.card-columns{
		column-count: 2;
	}
	.macL, .macR{
		display: none;
	}
}

@media (min-width: 576px){
	.card-columns{
		column-count: 2;
	}
	.macL, .macR{
		display: none;
	}
}

@media (min-width: 768px){
	.card-columns {
    	column-count: 3;
	}
}

@media (min-width: 1024px){
	.card-columns {
    	column-count: 4;
	}
	.macL, .macR{
		display: block;
	}
}

